{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/aboutme.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello there! 👋 I'm Akram, a recent graduate with a B.Tech degree and a passion for all things tech. My journey into the world of programming has been an exciting one, culminating in a solid understanding of Python, HTML, CSS, C and Bootstrap.
          Currently, I'm on a 100-day Python bootcamp adventure, where I've put my skills to the test by crafting my very own blog website. Guess what? It's up and running on Vercel, and I couldn't be more thrilled
        </p>
        <p>
          🤖 I had the fantastic opportunity to dive into the realm of AI during a one-month internship as a Junior AI Intern at LearningBot.
          The experience added a valuable layer to my knowledge and fueled my curiosity for the ever-evolving field.
        </p>
        <p>
          🎮 Beyond the screen, I'm an enthusiast for gaming and video editing. In fact, I offer freelance video editing services, so if you're in need of some cinematic magic, feel free to reach out.
          📚My academic journey, coupled with hands-on projects and real-world experiences, has equipped me with the skills to tackle challenges and explore the limitless possibilities in the tech landscape.🎬✨
        </p>
        <p>
          Let's connect and explore the endless opportunities in the world of technology together! 🚀
        </p>
        <a href="contact.html">
          <button class="button-55" role="button"> Contact Ak </button>
        </a>
        <p>
          I have taken this template from Start Bootstrap and did my own modifications required as I'm learning but the backend with Flask is done by myself..
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
